.error{
    @include flex(row, flex-start, center, .2rem);
    color: $error;
    font-size: .6rem;
    font-weight: 400;
    margin-block: .3rem;
    text-align: left;
}

@media (max-width: 767px) {
    .error{
        @include flex(row, flex-start, center, .2rem);
        color: $error;
        font-size: .9rem;
        font-weight: 400;
        margin-block: .4rem .2rem;
        text-align: left;
    }
}