.box-Recently-Viewed-Products {
    @include flex(row, center, center, 1rem);
    width: 100%;
    padding: 2rem 0;

    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-card {
        width: 100%;
    }
}

.title-Recently-Viewed-Products {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    color: $TextColor1;
    margin-block: 1.25rem .75rem;
}

@media (max-width: 767px) {
    .title-Recently-Viewed-Products {
        font-size: 2.3rem !important;
        margin-block: 3rem 2rem !important;
    }
}

@media (max-width: 480px) {
    .title-Recently-Viewed-Products {
        font-size: 1.5rem;
    }
}