.section-wishlist-empty{
    width: 100%;
    @include flex(column, center, center, 1.3rem);
    text-align: center;
    margin-block: 6rem;

    .icon{
        font-size: 5.5rem;
        color: $TextColor1;
    }

    h2{
        font-size: 1.1rem;
        font-weight: 500;
        text-transform: uppercase;
        color: $TextColor1;
    }

    a{
        font-size: .55rem;
    }

    p{
        width: 40%;
        font-size: .65rem;
        line-height: 1rem;
        font-weight: 400;
        color: $TextColor1;
    }


}