.table-details {
    margin: 2rem auto;
    width: 90%;
    border: 1px solid #0000002a;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    tr {
        border-bottom: 1px solid #0000002a;

        td {
            padding: 0.75rem;
            color: $TextColor2;
            font-size: 0.8rem;
            text-transform: capitalize;
            border: 1px solid #0000002a;

            &.td-title {
                font-weight: 600;
                color: $TextColor1;
                background: $TextColor5;
                width: 20%;
                text-align: start;
            }

            &.td-price {
                border: none;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .price-discount {
                    color: #ff3131d7;
                    font-size: 0.8rem;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .table-details {
        width: 95%;

        tr {
            border-bottom: 1px solid #0000002a;

            td {
                padding: 1rem;
                color: $TextColor2;
                font-size: 1.3rem;
                text-transform: capitalize;
                border: 1px solid #0000002a;

                &.td-title {
                    font-weight: 600;
                    color: $TextColor1;
                    background: $TextColor5;
                    width: 20%;
                    text-align: start;
                }

                &.td-price {
                    border: none;
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;

                    .price-discount {
                        color: #ff3131d7;
                        font-size: 1.2rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}