.px {
    padding-inline: 1rem;
}

.py {
    padding-block: 3rem 2rem;
}

html {
    font-size: 10px;
}

@media (min-width: 768px) {
    .px {
        padding-inline: 1.5rem;
    }

    .py {
        padding-block: 3.5rem 2.5rem;
    }

    html {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .px {
        padding-inline: 2em;
    }

    .py {
        padding-block: 4rem 3rem;
    }

    html {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .px {
        padding-inline: 2.5rem;
    }

    .py {
        padding-block: 6rem;
    }

    html {
        font-size: 18px;
    }
}