$error : #ee5353;
$mainColor: #f76b6a;
$mainColorHover: #f7a3a3;
$TextColor1: #333333;
$TextColor2: #666666;
$TextColor3: #999999;
$TextColor4: #efefef;
$TextColor5: #f8f8f8;
$star-empty-color: #ccc;
$star-filled-color: #ffc107;
$star-hover-color: #ffda44;

