.get-in-touch{
    h2{
        font-size: 1.2rem;
        font-weight: 600;
        color: $TextColor1;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    p{
        font-size: .8rem;
        font-weight: 400;
        color: $TextColor1;
        margin-block: .95rem;
        @include flex(row, space-between, center, 2rem);
    }
}

@media (max-width: 767px) {
    .get-in-touch{
        h2{
            display: none;
        }

        p{
            font-size: 1.2rem;
            padding-block: .6rem;
            border-bottom: 1px solid #0000001a;
        }
    }
}