.box-card {
    @include flex(column, center, center, 1rem);
    width: calc((100% / 4) - 1rem);
    margin-bottom: 1.5rem;
    position: relative;
    cursor: pointer;
    transition: .5s;


    .btn-card {
        @include flex(column, center, center, 0.5rem);
        position: absolute;
        top: .5rem;
        right: .5rem;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;

        button {
            @include flex(row, center, center, 0);
            padding: 0.3rem .3rem;
            background: #fff;
            border: none;
            box-shadow: .1rem .1rem .01rem rgba(30, 30, 30, 0.115);
            cursor: pointer;
            font-size: .9rem;
            color: $TextColor1;
            transition: 0.5s;

            &:hover {
                color: #fff;
                background: #000;
            }
        }
    }

    .box-image-card {
        width: 100%;
        height: 40vh;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: 0.5s;
        }

        .image-card {
            opacity: 1;
            visibility: visible;
            transition: .6s;
        }

        .hover-image-card {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            scale: 1.08;
            transition: .6s;
        }
    }

    .box-content-card {
        width: 100%;
        @include flex(column, flex-start, flex-start, 0.5rem);

        h3 {
            color: $TextColor1;
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 500;
            transition: 0.5s;
        }

        h4 {
            color: $TextColor2;
            text-transform: capitalize;
            font-size: .9rem;
            font-weight: 500;
        }
    }

    .box-color {
        width: 100%;

        ul {
            @include flex(row, flex-start, center, 0.2rem);

            li {
                @include flex(row, center, center, 0.2rem);
                padding: .1rem;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.3s;
                border: transparent solid 0.01rem;


                span {
                    background: #6c7152;
                    width: .85rem;
                    height: .85rem;
                    border-radius: 50%;
                    cursor: pointer;
                }

                &:hover {
                    border: #000000d7 solid 0.01rem;
                }
            }

        }
    }



    &:hover {
        .btn-card {
            opacity: 1;
            visibility: visible;
        }

        .hover-image-card {
            opacity: 1;
            visibility: visible;

            animation: img-card 1s;
        }

        @keyframes img-card {
            0% {
                scale: 1;
            }

            100% {
                scale: 1.08;
            }
        }

        .image-card {
            opacity: 0;
            visibility: hidden;
        }
    }
}

@media (max-width: 1023px) {
    .box-card {

        .box-image-card {
            height: 20vh;
        }

        .btn-card {
            @include flex(column, center, center, 0.5rem);
            position: absolute;
            top: 1rem;
            right: 1rem;
            z-index: 2;
            opacity: 1;
            visibility: visible;
            transition: 0.5s;

            button {
                @include flex(row, center, center, 0);
                padding: 0.5rem .5rem;
                box-shadow: .1rem .1rem .012rem rgba(30, 30, 30, 0.115);
                font-size: 1.1rem;
            }
        }

        .box-content-card {

            h3 {
                font-size: 1.1rem;
                font-weight: 500;
            }

            h4 {
                font-size: 1rem;
                font-weight: 500;
            }
        }

        .box-color {

            ul {

                li {
                    padding: .2rem;

                    span {
                        width: 1.1rem;
                        height: 1.1rem;
                    }
                }

            }

        }
    }
}

@media (max-width: 767px) {
    .box-card {
        width: calc((100% / 2) - 1rem);

        .box-image-card {
            height: 30vh;
        }

        .btn-card {
            button {
                font-size: 1.75rem;
            }
        }

        .box-content-card {

            h3 {
                font-size: 1.6rem;
                font-weight: 500;
            }

            h4 {
                font-size: 1.6rem;
                font-weight: 500;
            }
        }

        .box-color {

            ul {

                li {
                    padding: .3rem;

                    span {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

            }

        }
    }
}