.header-single-shop{
    width: 100%;
    height: 7.5vh;
    @include flex(row, center, center, .3rem);
    background: $TextColor5;
    margin-block: 4rem 2rem;
    font-size: .8rem;
    color: $TextColor2;

    a{
        @include flex(row, center, center, .3rem);
        color: $TextColor1;

        &:hover{
            color: $mainColor;
        }
    }
}