.bottom-footer{
    @include flex(row, space-between, center, 0);
    width: 100%;
    padding-block: 1rem;

    p{
        font-size: .8rem;
        color: $TextColor1;
    }

    ul{
        @include flex(row, center, center, 1rem);
        li{
            a{
                font-size: .8rem;
                font-weight: 400;
                color: $TextColor1;
                text-transform: capitalize;
                text-decoration: none;
                transition: 0.3s;

                &:hover{
                    color: $mainColor;
                }
            }
        }
    }
}