nav {
    ul {
        @include flex(row, center, center, 1rem);

        li,
        a {
            position: relative;
            @include flex(row, center, center, 0);
            font-size: 1.65rem;
            cursor: pointer;
            transition: 0.3s;
            color: $TextColor2;

            &:hover {
                color: $mainColor;
            }

            span {
                @include flex(row, center, center, 0);
                position: absolute;
                top: -.15rem;
                right: -.3rem;
                font-size: .57rem;
                color: #fff;
                background: $mainColor;
                padding: 0.1rem 0.2rem;
                border-radius: 40%;
            }
        }
    }
}

.navbar-mobile{
    display: none;
}

@media screen and (max-width: 767px) {
    nav {
        ul {
            li,a {
                svg {
                    font-size: 3rem;
                }
                span {
                    @include flex(row, center, center, 0);
                    position: absolute;
                    top: -.15rem;
                    right: -.3rem;
                    font-size: .9rem;
                    color: #fff;
                    background: $mainColor;
                    padding: 0.35rem 0.45rem;
                    border-radius: 40%;
                }

                &.none {
                    display: none;
                }
            }
        }
    }

    .navbar-mobile{
        position: fixed;
        z-index: 4;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-block: 1rem;
        padding-inline: 5rem;
        display: block;
        background: #fff;
        border-top: 1px solid #0000003a;

        ul {
            @include flex(row, space-between, center, 1rem);
            li {
                svg {
                    font-size: 2.9rem;
                }
            }
        }
    }
}