nav{
    ul{
        @include flex(row, center, center, 1rem);

        li, a{
            position: relative;
            @include flex(row, center, center, 0);
            font-size: 1.65rem;
            cursor: pointer;
            transition: 0.3s;
            color: $TextColor2;
            &:hover{
                color: $mainColor;
            }

            span{
                @include flex(row, center, center, 0);
                position: absolute;
                top: -.15rem;
                right: -.3rem;
                font-size: .57rem;
                color: #fff;
                background: $mainColor;
                padding: 0.1rem 0.2rem;
                border-radius: 40%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    nav{
    ul{
        li{
            font-size: 3rem;
            &.none{
                display: none;
            }
        }
    }
}
}